doctype html
html(lang="he")

	head

		title מדיסינאל - הזנים, הספקים והדיונים כולם - באתר אחד.

		meta(
		name="description"
		content="מדיסינאל - או בעברית: רפואי - הוא מיזם אישי, פרוייקט אינטרנטי קטן-מידה, שמטרתו להטיב עם מטופלי הקנאביס בישראל בעזרת הנגשת המידע מהשטח. בתור התחלה, היינו רוצים להקים אתר המרכז מידע לגבי כל ספק וזן קנאביס בישראל. הרשמו לעידכונים ונשתמע בקרוב."
		)

		meta(
		name="viewport"
		content="width=device-width"
		)

		meta(
		charset="utf-8"
		)

		link(
		rel="stylesheet"
		href="styles.css"
		)

		script(
		src="bundle.js"
		)

	body
		include landing-page

