doctype html
html(lang="he")

	head

		link(rel="manifest", href="/manifest.json")

		meta(
		name="viewport"
		content="width=device-width"
		)

		meta(
		charset="utf-8"
		)

		link(
		rel="stylesheet"
		href="/styles.css"
		)

		script(
		src="/bundle.js"
		)

		include includes/seo
		include includes/favicons

		if production
			include includes/analytics-script

	body
		include landing-page

